@import url('https://fonts.googleapis.com/css2?family=Montserrat:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:display=swap');



*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

nav{
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.toggle{
  position: relative;
  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  left: 50px;
  display: none;
  z-index: 999;
}

.toggle span{
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.toggle span:nth-child(1){
  transform: translatey(-15px);
  width: 25px;
  left: 15px;
}

.toggle span:nth-child(2){
  transform: translatey(15px);
  width: 15px;
  left: 15px;
}


.toggle.active span:nth-child(1){
  transform: translatex(0px) rotate(45deg);
  width: 40px;
}

.toggle.active span:nth-child(2){
  transform: translatex(0px) rotate(315deg);
  width: 40px;
}

.toggle.active span:nth-child(3){
  transform: translatex(60px);
}

nav h1{
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  color: #fff;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  position: relative;
  margin-left: 20px;
  left: 20%;
}

nav ul li a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

nav ul p {
  display: none;
}

nav ul h1{
  display: none;
}

nav svg{
  display: none;
}

nav .button-login{
  position: absolute;
  right: 40px;
  top: 20px;
}

nav .button-login .entra{
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-right: 10px;
  cursor: pointer;
}

nav .button-login .cadastre{
  padding: 7px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #993399;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.landin-page{
  background-color: #c244c2;
  width: 100%;
  height: 100vh;
}

.landin-page h1{
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  color: #fff;
  margin-left: 20px;
  margin-top: 25%;
}

.landin-page p{
  margin-left: 18px;
  font-size: 25px;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.landin-page img{
  position: absolute;
  top: 35%;
  left: 55%;
}

.diario-de-bordo{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diario-de-bordo h1{
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  color: #c244c2;
}

.diario-de-bordo p{
  width: 85%;
  font-size: 52px;
  column-count: 2;
  column-gap: 40px;
  column-rule: 1px solid #ddd;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #c244c2;
}

.diario-de-bordo p a{
  color: #ddd;
}

.projeto-inovacao{
  width: 100%;
  height: 100vh;
  background-color: #c244c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projeto-inovacao h1{
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  color: #FFFFFF;
}

.projeto-inovacao p{
   width: 85%;
  font-size: 42px;
  column-count: 2;
  column-gap: 40px;
  column-rule: 1px solid #ddd;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

.projeto-inovacao p a{
  color: #ddd;
}

.perguntas-respostas{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.perguntas-respostas h1{
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #c244c2;
  text-align: center;
}

.perguntas-respostas .perguntas-conteiner{
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.perguntas-conteiner .conteiner{
  width: 35%;
  height: 350px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2em #DDD;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.perguntas-conteiner .conteiner h1{
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

.perguntas-conteiner .conteiner p{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #c244c2;
  text-align: center;
}

.perguntas-conteiner .conteiner-1 h1{
  font-size: 35px;
}

.navbar-bottom{
  width: 100%;
  height: 100px;
  background-color: #c244c2;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.navbar-bottom svg{
  margin-left: 50px;
}

.navbar-bottom .linha-divisoria{
  width: 2px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  left: 50%;
}

.navbar-bottom .lol{
  font-size: 54px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #fff;
}

.navbar-bottom .sesi{
  font-size: 54px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 60%;
}

@media(max-width:1250px){
  .perguntas-respostas{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perguntas-respostas h1{
  font-size: 120px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #c244c2;
  text-align: center;
}

.perguntas-respostas .perguntas-conteiner{
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.perguntas-conteiner .conteiner{
  width: 45%;
  height: 500px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2em #DDD;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.perguntas-conteiner .conteiner h1{
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
}

.perguntas-conteiner .conteiner p{
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  color: #c244c2;
  text-align: center;
}

.perguntas-conteiner .conteiner-1 h1{
  font-size: 60px;
}
}

@media(max-width: 1080px){
  .toggle{
    display: flex;
  }
  
  nav{
    position: fixed;
    z-index: 999;
    background: #c244c2;
  }
  
  nav h1{
    position: absolute;
    left: 50%;
    transform: translatex(-60%);
  }
  
  nav ul{
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: column;
    background: #c244c2;
    width: 70vw;
    height: 100%;
    transform: translatex(-150%);
    transition: 0.4s;
  }
  
  nav ul li{
    margin-bottom: 40px;
    position: relative;
    top: 150px;
    left: 0px;
  }
  
  nav ul li a{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
  }
  
  nav ul p{
    font-size: 30px;
    color: #fefefe;
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 90%;
    display: block;
    font-family: 'Open Sans', sans-serif;
  }
  
  nav ul h1{
    position: absolute;
    left: 210px;
    bottom: 110px;
    font-size: 40px;
    margin: 10px;
    color: #fff;
    display: block;
  }
  
  .active1{
    transform: translatex(0%);
  }
  
  .active2{
    overflow: hidden;
  }
  
  .user-mobile{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  display: block;
  }
  
  nav .button-login{
    display: none;
  }
  
  .landin-page{
  background-color: #c244c2;
  width: 100%;
  height: 100vh;
 }

.landin-page .line-linha{
  font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  color: #fff;
  text-align: center;
  margin-top: -50px;
 }
  
  .landin-page h1{
    font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  color: #fff;
  text-align: center;
    margin-top: 50%;
    transform: translatey(-50%);
    
  }

.landin-page p{
  text-align: center;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-left: 50%;
  transform: translatex(-50%);
  width: 80%;
  margin-top: -50px;
 }

.landin-page img{
  position: absolute;
  top: 60%;
  left: 28%;
  width: 700px;
 }
  
  .navbar-bottom{
  width: 100%;
  height: 100px;
  background-color: #c244c2;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.navbar-bottom svg{
  margin-left: 50px;
}

.navbar-bottom .linha-divisoria{
  width: 2px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  left: 50%;
}

.navbar-bottom .lol{
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #fff;
}

.navbar-bottom .sesi{
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 60%;
}
}
